# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
ENV/
env/
*.env

# Django stuff:
*.sqlite3
db.sqlite3
*.log

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
